*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate/
*/Saved
BuildingEscape/Content/StarterContent/Textures/
BuildingEscape/Content/StarterContent/HDRI/
BuildingEscape 4.15/Content/StarterContent/



*VC.db
*.opendb
*.sln

